{% load i18n %}
{% load static %}
{% load l10n %}
{% load countries %}
{% get_countries as countries %}
<div>
    <form class="form-inline float-lg-right" id="searchUsers" action="{% url 'profiles:users' %}">
        <input type="hidden" name="keywords" value="{{ filters.keywords }}">

        <div class="row mt-5">
{#            <div class="col-12 col-md-6 col-xl-3 d-flex flex-column gap-1">#}
{##}
{#                <label for="country">Regione</label>#}
{##}
{##}
{#                <select id="country" name="country" class="custom-select form-select">#}
{#                    <option value="">{% trans "Seleziona" %}#}
{#                    <option>#}
{#                        {% for country in countries %}{% for cwc in countriesWithContent %}#}
{#                            {% if country.code == cwc %}#}
{#                                <option {% if country.code == filters.country %} selected {% endif %}#}
{#                                                                                 value="{{ country.code }}"> {{ country.name }}</option>#}
{#                            {% endif %}{% endfor %}{% endfor %}#}
{#                </select>#}
{##}
{#            </div>#}

            <div class="col-12 col-md-6 col-xl-3 d-flex flex-column gap-1">

                <label for="interestAreas">Aree di interesse</label>


                <select id="interestAreas" name="interestAreas" class="custom-select form-select">
                    <option value="">
                    {% trans "Interest Area" %}
                    <option>
                        {% for t in interestAreas %}
                            <option {% if t ==  filters.interestAreas %} selected {% endif %} value="{{ t }}">
                                {{ t|capfirst }}
                            </option>
                        {% endfor %}
                </select>


            </div>
            <div class="col-12 col-md-6 col-xl-3 d-flex flex-column gap-1">

                <label for="organisation">Organizzazione</label>


                <select id="organisation" name="organisation" class="custom-select form-control">
                    <option value="">
                    {% trans "Organisation" %}
                    <option>
                        {% for organisation in organisations %}
                            <option {% if organisation.name ==  filters.organisation %} selected {% endif %}
                                                                                        value="{{ organisation.name }}">
                                {{ organisation.name|capfirst }}
                            </option>
                        {% endfor %}
                </select>

            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-3 mb-2 d-flex align-items-center gap-2">
                {% if filters.keywords or filters.country or filters.interestAreas or filters.organisation %}
                    <span>Filtri attivi: </span>
                {% endif %}
                {% if filters.keywords %}
                    {% include 'includes/tag.html' with text='Keyword: '|add:filters.keywords hasClose=True %}
                {% endif %}
                {% if filters.country %}
                    {% include 'includes/tag.html' with text='Regione: '|add:filters.country hasClose=True %}
                {% endif %}
                {% if filters.interestAreas %}
                    {% include 'includes/tag.html' with text='Tipo: '|add:filters.interestAreas hasClose=True %}
                {% endif %}
                {% if filters.organisation %}
                    {% include 'includes/tag.html' with text='Tipo: '|add:filters.organisation hasClose=True %}
                {% endif %}

            </div>
            <div class="col-12 mt-3 d-flex justify-content-center align-items-center gap-2">
                {% if filters.keywords or filters.country or filters.interestAreas or filters.organisation %}
                    <div>

                        <a class="text-red-700 text-sm" href="/users">
                            Cancella tutti i filtri
                        </a>
                    </div>
                    <div class="text-card-border">
                        |
                    </div>
                {% endif %}
                <div>
                    <button class="text-sm p-0 " style="background-color:transparent;border: none;" type="submit">
                        Applica i filtri
                    </button>
                </div>
            </div>

        </div>
        <div class=" mt-4 pt-4 border-top d-flex justify-content-between align-items-center">
            <div>
                <div class="small">
                    <span class"subnavbarCounter-text">
                    {% if filters.keywords or filters.country or filters.interestAreas or filters.organisation %}
                        <strong>{{ counter }}</strong> utenti selezionati su <strong>{{ totalCount }}</strong>
                        totali
                    {% else %}
                        <strong>{{ totalCount }}</strong> utenti
                    {% endif %}
                    {#                        {% if counter != 1 %}#}
                    {#                            {% trans "projects found for " %} "{{ filters.keywords }}" of {{ totalProjects }}#}
                    {#                        {% else %}#}
                    {#                            {% trans "project found for " %} "{{ filters.keywords }}" of {{ totalProjects }}#}
                    {#                        {% endif %}#}
                    </strong>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-end gap-2">

                <div>Ordina per:</div>
                <div>

                    <select id="orderby" name="orderby" class="custom-select status-select form-select">
                        <option value="" {% if filters.orderby == "" %} selected {% endif %}>
                            {% trans "Most Recent Updated" %}
                        </option>
                        <option value="name" {% if filters.orderby == "name" %} selected {% endif %}>
                            {% trans "A-Z" %}
                        </option>
                    </select>
                </div>
            </div>

        </div>

    </form>
</div>
{% if counter <= 0 or totalCount <= 0 %}
    <div class="row">

        <div class="col-6 offset-6 col-xl-4 offset-xl-4 d-flex flex-column justify-content-center align-content-center mt-5 gap-3">
            <div class="d-flex justify-content-center">

                <img class="" src="{% static 'img/empty-img-simple.png' %}" alt="Nessun risultato">
            </div>
            <div class="d-flex justify-content-center">

                <p class="text-center">
                    Nessun risultato trovato. Prova a cambiare i criteri di ricerca o cerca nelle altre categorie di
                    contenuti.
                </p>
            </div>
        </div>
    </div>
{% endif %}
<script>


</script>

