{% load my_tags %}
{% if users.has_other_pages %}
    <ul class="pagination pb-6">
        {% if users.number|add:'-3' > 1 %}
            <li class="page-item">
                <a class="page-link" href="?{% param_replace page=1 %}">1</a>
            </li>
        {% endif %}

        {% if users.number|add:'-3' > 1 and users.number|add:'-4' > 1 %}
            <li class="page-item">
                <a class="page-link" href="?{% param_replace page=users.number|add:'-4' %}">...</a>
            </li>
        {% endif %}
        {% for i in users.paginator.page_range %}
            {% if users.number == i %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{ i }}</a>
                </li>
            {% elif i > users.number|add:'-4' and i < users.number|add:'4' %}
                <li class="page-item">
                    <a class="page-link" href="?{% param_replace page=i %}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if users.paginator.num_pages > users.number|add:'3' and users.paginator.num_pages > users.number|add:'4' %}
            <li class="page-item">
                <a class="page-link" href="?{% param_replace page=users.number|add:'4' %}">...</a>
            </li>
        {% endif %}

        {% if users.paginator.num_pages > users.number|add:'3' %}
            <li class="page-item">
                <a class="page-link" href="?{% param_replace page=users.paginator.num_pages %}">
                    {{ users.paginator.num_pages }}
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}
