{% extends "./base_template_profiles.html" %}
{% load i18n %}
{% load static %}
{% block profile_right %}


    <div class="row">
        <div class="col-12 p-0">
            {% include './user_tabs.html' %}
        </div>
    </div>

    <div class="row bg-white border border-top-0 py-5 px-4 mb-5">

        <h4 class="col-12 leftborder">{% trans "Permissions and password" %}</h4>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-11">
                <div class="custom-control custom-switch">
                    <input type="checkbox"
                           class="custom-control-input myradio"
                           id="profileVisible"
                           {% if show_user.profile.profileVisible %}checked{% endif %}>

                    <label class="custom-control-label" for="profileVisible">
                        Il tuo profilo è pubblico e visibile a tutti (il tuo indirizzo e-mail però non è comunque condiviso)
                    </label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox"
                           class="custom-control-input myradio"
                           id="contentVisible"
                           {% if show_user.profile.contentVisible %}checked{% endif %}>
                    <label class="custom-control-label" for="contentVisible">
                        La lista dei contributi che hai caricato è pubblica e visibile a tutti
                    </label>
                </div>
                <div class="custom-control custom-switch">
                    <input type="checkbox"
                           class="custom-control-input myradio"
                           id="subscribedtoDigest"
                           {% if show_user.profile.digest %}checked{% endif %}>
                    <label class="custom-control-label" for="subscribedtoDigest">
                        Sottoscrizione alle pubblicazioni mensili
                    </label>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="btn btn-outline-secondary mt-4 mb-4" href="{% url 'accounts:password-change' %}">
                    <svg class="bi mb-1" width="16" height="16" fill="currentColor">
                        <use xlink:href="{% static 'img/svg/bootstrap-icons.svg' %}#key-fill"/>
                    </svg>
                    {% trans "Change Password" %}

                </a>

            </div>
        </div>

        <h4 class="col-12 leftborder mt-4">{% trans "General information" %}</h4>
        <table class="table">
            <thead>
            <tr>
                <th>Evento</th>
                <th>Successo il:</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Creazione profilo</td>
                <td>{{ show_user.date_joined }}</td>
            </tr>
            <tr>
                <td>Ultima visita</td>
                <td>{{ show_user.last_login }}</td>
            </tr>

            </tbody>
        </table>

    </div>
{% endblock %}
{% block scripts %}
    <script>
        $(function () {
            $('.myradio').change(function () {
                console.log("changed digest")
                console.log($('#subscribedtoDigest').is(':checked'))
                $.ajax({
                    type: 'POST',
                    url: 'privacy/updatePrivacy',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        subscribedtoDigest: $('#subscribedtoDigest').is(':checked'),
                        profileVisible: $('#profileVisible').is(':checked'),
                        contentVisible: $('#contentVisible').is(':checked'),
                    },
                    success: function (response) {
                        console.log(response)
                    },
                    error: function (error) {
                        console.log(error)
                    }

                })
            })
        })
    </script>
{% endblock scripts %}
