{% extends "./base_template_profiles.html" %}
{% load i18n %}
{% load static %}
{% block profile_right %}

    <div class="row">
        <div class="col-12 p-0">
            <nav class="navbar navbar-light pb-0 pl-0 ps-0 border-top-0 border-end-0 border-start-0 border-0 subnavbar">
                <ul class="nav nav-tabs w-100 d-flex justify-content-start border-bottom-1">
                    <li class="nav-item text-start subnavbar-item bg-white ">
                        <a class="nav-link ps-4 {% if 'submissions' not in request.path %}active{% endif %} nav-tab-search"
                           href="/users/{{ show_user.profile.slug }}">
                            Profilo
                        </a>
                    </li>
                    <li class="nav-item subnavbar-item">
                        <a class="nav-link ps-4 {% if 'submissions' in request.path %}active{% endif %}  nav-tab-search"
                           href="/users/{{ show_user.profile.slug }}/submissions">
                            Contenuti pubblicati
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="row bg-white border border-top-0 py-5 px-4 mb-5">


            <h3 class="col-12 p-0">
                Biografia e background disciplinare
            </h3>
        {% if show_user.profile.bio %}
            {{ show_user.profile.bio | safe }}
        {%  else %}
                <div class="col-12 p-0 d-flex flex-column justify-content-start align-content-center mt-5 gap-3">
                    <div class="d-flex justify-content-start align-items-center gap-2">

                        <img class="" src="{% static 'img/empty-img-simple.png' %}" alt="Nessun risultato">

                        <div>
                            L'utente non ha ancora inserito la sua biografia e il suo background disciplinare.
                        </div>
                    </div>
                </div>
        {% endif %}

            <h4 class="col-12 p-0 mt-4">{% trans "Interest and expertise areas" %}</h4>
        {% if show_user.profile.interestAreas.count > 0 %}
            <div class="col-12 p-0 d-flex flex-wrap gap-2 justify-content-start align-items-center mt-2">
                {% for area in show_user.profile.interestAreas.all %}
                    <span class="badge rounded-pill badge-card-main ">{{ area|capfirst }}</span>
                {% endfor %}
            </div>
        {%  else %}
                <div class="col-12 p-0 d-flex flex-column justify-content-start align-content-center mt-5 gap-3">
                    <div class="d-flex justify-content-start align-items-center gap-2">

                        <img class="" src="{% static 'img/empty-img-simple.png' %}" alt="Nessun risultato">

                        <div>
                            L'utente non ha ancora inserito le sue aree di interesse.
                        </div>
                    </div>
                </div>
        {% endif %}

            <h4 class="col-12 p-0 mt-4">{% trans "Organisations" %}</h4>
        {% if show_user.profile.organisation.count > 0 %}
            <div class="col-12 row mt-2">
                {% for organisation in show_user.profile.organisation.all %}
                    <div class="col-6 mb-3">
                        {% include 'includes/card_ridotta.html' with cardTitle=organisation.name|default:"Nessuna organizzazione"  image=organisation.logo tipologia=organisation.orgType.type %}
                    </div>
                {% endfor %}
            </div>
                    {%  else %}
                <div class="col-12 p-0 d-flex flex-column justify-content-start align-content-center mt-5 gap-3">
                    <div class="d-flex justify-content-start align-items-center gap-2">

                        <img class="" src="{% static 'img/empty-img-simple.png' %}" alt="Nessun risultato">

                        <div>
                            L'utente non ha ancora inserito le sue organizzazioni.
                        </div>
                    </div>
                </div>

        {% endif %}

    </div>
{% endblock profile_right %}
