{% extends 'baseblog.html' %}
{% load reviews %}
{% block meta %}
    <link href="/static/reviews/css/star-rating.css" type="text/css" media="all" rel="stylesheet">
    <meta property="og:title" content="{{ post.title }}"/>
    <meta property="og:description" content="{{ post.excerpt }}"/>
    <meta property="og:image" content="{{ domain }}/media/{{ post.image }}"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ post.title }}"/>
    <meta name="twitter:description" content="{{ post.excerpt }}"/>
    <meta name="twitter:image" content="{{ domain }}/media/{{ post.image }}"/>
{% endblock meta %}

{% block list_of_items %}

    <section class="bg-plum-100 pt-5">

        <div class="container mt-5">
            {% if post.image %}
                <div class="row">
                    <div class="col-12 rounded-4 text-center border">
                        <img src="/media/{{ post.image }}"
                             class="img-fluid" style="max-height:440px;"/>
                    </div>
                </div>
            {% endif %}
            <div class="row mt-5 pb-3 border-bottom mb-4">
                <div class="col-12 text-center">
                    <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
                    <div class="d-flex justify-content-center gap-3 mt-3 mb-4">
                        {% if post.author.name != "Empty user" %}
                            <div>
                                {{ post.author.name }}
                                {% if post.author.profile.surname %}
                                    {{ post.author.profile.surname }} {% endif %}
                            </div>
                            <div>|</div>
                        {% endif %}
                        <div>
                            Pubblicato {{ post.created_on | date:"d/m/Y" }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pb-5">
                <div class="col-12 col-md-8 offset-md-2">
                    <p class="">{{ post.content | safe }}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock list_of_items %}
