{% extends "base_r2.html" %}

{% block list_of_items %}
    <section class="bg-plum-100 pt-5">

        <div class="container mt-5">
            {% if page.image %}
                <div class="row">
                    <div class="col-12 rounded-4 text-center border">
                        <img src="/media/{{ page.image }}"
                             class="img-fluid" style="max-height:440px;"/>
                    </div>
                </div>
            {% endif %}
            <div class="row mt-5 pb-3 border-bottom mb-4">
                <div class="col-12 text-center">
                    <h1>{% block title %} {{ page.name }} {% endblock title %}</h1>
                </div>
            </div>
            <div class="row pb-5">
                <div class="col-12 col-md-8 offset-md-2">
                    <p class="">{{ page.content | safe }}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
```