{% load my_tags %}
{% if projects.has_other_pages %}
    <ul class="pagination pb-6">
{#        <li class="page-item">#}
{#            <a class="page-link" href="#" aria-label="Previous">#}
{#                <span aria-hidden="true">&laquo;</span>#}
{#            </a>#}
{#        </li>#}
{#        <li class="page-item">#}
{#            <a class="page-link" href="#" aria-label="Next">#}
{#                <span aria-hidden="true">&raquo;</span>#}
{#            </a>#}
{#        </li>#}
        {% if projects.number|add:'-3' > 1 %}
            <li class="page-item">
                <a class="page-link" href="?{% param_replace page=1 %}">1</a>
            </li>
        {% endif %}

        {% if projects.number|add:'-3' > 1 and projects.number|add:'-4' > 1 %}
            <li class="page-item">
                <a class="page-link" href="?{% param_replace page=projects.number|add:'-4' %}">...</a>
            </li>
        {% endif %}
        {% for i in projects.paginator.page_range %}
            {% if projects.number == i %}
                <li class="page-item active">
                    <a class="page-link" href="#">{{ i }}</a>
                </li>
            {% elif i > projects.number|add:'-4' and i < projects.number|add:'4' %}
                <li class="page-item">
                    <a class="page-link" href="?{% param_replace page=i %}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if projects.paginator.num_pages > projects.number|add:'3' and projects.paginator.num_pages > projects.number|add:'4' %}
            <li class="page-item">
                <a class="page-link" href="?{% param_replace page=projects.number|add:'4' %}">...</a>
            </li>
        {% endif %}

        {% if projects.paginator.num_pages > projects.number|add:'3' %}
            <li class="page-item">
                <a class="page-link" href="?{% param_replace page=projects.paginator.num_pages %}">
                    {{ projects.paginator.num_pages }}
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}
