{% load static %}
{% load i18n %}
{% load l10n %}
{% load thumbnail %}
{% for resource in resources %}
<div class="col-lg-4 col-sm-6 col-xs-12 mb-5">
    <div class="card h-100 shadow border-0">
        <a href="{% if resource.isTrainingResource %}/training_resource/{{resource.id}}{% else %}/resource/{{resource.id}}{% endif %}">
            <img class="img-fluid img-card"
                 src="{% thumbnail resource.image2|default:resource.image1|default:'void_600.png' 612x408 crop %}"
                 alt="image for {{ resource.name }}">
        </a>
        <div class="card-body">
            <div class="card-title my-card-title">
                <h4 class="mt-2 mb-0">
                    <a href="{% if resource.isTrainingResource %}/training_resource/{{resource.id}}{% else %}/resource/{{resource.id}}{% endif %}"
                       class="card-title my-link">
                        {{ resource.name|truncatechars:60 }}
                    </a>
                </h4>
            </div>

            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                {% if language.code == resource.inLanguage %}
                    <a href="{% if resource.isTrainingResource %}/training_resources{% else %}/resources{% endif %}?inLanguage={{resource.inLanguage}}"
                       class="badge rounded-pill bg-dark text-decoration-none">
                        {{ language.name }}
                    </a>
                {% endif %}
            {% endfor %}

            {% if resource.category %}
                <a href="{% if resource.isTrainingResource %}/training_resources{% else %}/resources{% endif %}?category={{resource.category.text}}"
                   class="badge rounded-pill bg-secondary">
                    {{ resource.category }}
                </a>
            {% endif %}

            <p class="mt-4">
                {{ resource.abstract|default:resource.description_citizen_science_aspects|safe|truncatewords_html:30 }}
            </p>
        </div>
    </div>
</div>
{% endfor %}
{% if 'resources' in request.get_full_path %}
<div class="col-lg-12">
    {% include "fr2.html" %}
</div>
{% endif %}
