{% load static %}
{% load thumbnail %}

{#<div class="card mt-2 mb-2">#}
{#<div class="row">#}
{#    <div class="col-4">#}
{#        {% block img %}{% endblock img %}#}
{#    </div>#}
{#    <div class="col-8 d-flex align-items-center">#}
{#        <h6 class="mb-0">{% block title %}{% endblock title %}</h6> #}
{#    </div>#}
{#</div>#}
{#</div>#}

{% with status.split|join:"-" as statusH %}
<div class="card rounded-4 px-0 py-0 w-100">
    <div class="row">
        <div class="col-md-5 col-4 position-relative">
            {#            <img src="{% static image|default:'img/cards/card-main-placeholder.png' %}" class="img-fluid rounded-start" alt="{{ cardTitle|default:'Citizen Science italia' }}">#}
            <img src="{% thumbnail project.image1|default:'void_600.png' 612x408 upscale crop %}"
                 class="img-fluid rounded-start-4" alt="{{ cardTitle|default:'Citizen Science italia' }}">

            {% if status %}
                <div class="" style="position: absolute; top: 16px; left: 28px;">
                    <span class="badge rounded-pill badge-status-{{ status.humanized }} ">{{ status|capfirst }}</span>
                </div>
            {% endif %}
        </div>
        <div class="col-md-7 col-8">
            <div class="card-body">
                <h5 class="card-title">
                    {{ cardTitle|default:'Citizen Science italia' }}
                </h5>
                {% if cardSubtitle %}
                    <h6 class="card-subtitle">
                        {{ cardSubtitle| safe | truncatechars:75 }}
                    </h6>
                {% endif %}

                <div class="d-flex gap-1 justify-content-start align-items-center mt-4">
                    {% for item in tags %}
                        <span class="badge rounded-pill badge-card-main ">{{ item|capfirst }}</span>
                    {% endfor %}
                    {% if more and more > 0 %}
                        <span class="badge rounded-pill badge-card-main ">+{{ more }}</span>
                    {% endif %}
                </div>

                {% if flags and flags.count > 0 %}
                    <div class="d-flex gap-1 justify-content-start align-items-center mt-4">
                        <svg class="bi mb-1" width="14" height="14" fill="currentColor">
                            <use xlink:href="{% static 'img/svg/bootstrap-icons.svg' %}#flag-fill"/>
                        </svg>
                        <span class="">{{ flags|join:", " }}</span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endwith %}