{% load static %}
{% load thumbnail %}
{% load i18n %}

<div class="card rounded-4 w-100 shadow" style="height:115px;">
    <a href="{% if resource.isTrainingResource %}/training_resource/{{ resource.id }}{% else %}/resource/{{ resource.id }}{% endif %}" class="card-main">
        <div class="row ms-0 bg-transparent">
            <div class="col-3 p-0">
                <div class="rounded-start-4 w-100"
                     style="height:113px; background-image: url('/media/{{ resource.image2|default:resource.image1|default:'cards/bg_card_ridotta.png'|safe }}'); background-size: cover; background-repeat: no-repeat; background-position: center center;">
                </div>
            </div>
            <div class="col-9 p-0">
                <div class="card-body m-0 mx-1 w-100 d-flex flex-column justify-content-between h-100">
                    <div class="flex-fill">
                        <h6 class="card-title">
                            {{ resource.name|safe|truncatechars:37|default:'Citizen Science Italia' }}
                        </h6>
                    </div>
                    <div>
                        {% if resource.category %}
                            <div class="d-flex gap-1 justify-content-start align-items-center">
                                <span class="badge rounded-pill badge-card-main">{{ resource.category }}</span>
                            </div>
                        {% elif resource.publisher %}
                            <div class="d-flex gap-1 justify-content-start align-items-center">
                                <svg class="bi mb-1" width="14" height="14" fill="currentColor">
                                    <use xlink:href="{% static 'img/svg/bootstrap-icons.svg' %}#building"/>
                                </svg>
                                <span>{{ resource.publisher|truncatechars:22 }}</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
