{% load i18n %}
{% load static %}
{% load countries %}

<div>
    <form class="form-inline float-lg-right" id="searchOrganisations" action="{% url 'organisations' %}">
        <input type="hidden" name="keywords" value="{{ filters.keywords }}"/>
        <div class="row mt-5">
            <div class="col-12 col-md-6 col-xl-3 d-flex flex-column gap-1">

                <label for="country">Regione</label>


                <select id="country" name="country" class="custom-select form-select">
                    <option value="">{% trans "Seleziona" %}
                    <option>
                        {% for country in countries %}{% for cwc in countriesWithContent %}
                            {% if country.code == cwc %}
                                <option {% if country.code == filters.country %} selected {% endif %}
                                                                                 value="{{ country.code }}"> {{ country.name }}</option>
                            {% endif %}{% endfor %}{% endfor %}
                </select>

            </div>

            <div class="col-12 col-md-6 col-xl-3 d-flex flex-column gap-1">

                <label for="orgTypes">Tipo</label>


                <select id="orgTypes" name="orgTypes" class="custom-select form-select">
                    <option value="">{% trans "Type" %}<option>
                    {% for t in orgTypes %}
                    <option {% if t.type ==  filters.orgTypes %} selected {% endif %} value="{{t.type}}">
                    {{t.type|capfirst}}
                    </option>
                    {% endfor %}
                </select>

            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-3 mb-2 d-flex align-items-center gap-2">
                {% if filters.keywords or filters.country or filters.orgTypes %}
                    <span>Filtri attivi: </span>
                {% endif %}
                {% if filters.keywords %}
                    {% include 'includes/tag.html' with text='Keyword: '|add:filters.keywords hasClose=True %}
                {% endif %}
                {% if filters.country %}
                    {% include 'includes/tag.html' with text='Regione: '|add:filters.country hasClose=True %}
                {% endif %}
                {% if filters.orgTypes %}
                    {% include 'includes/tag.html' with text='Tipo: '|add:filters.orgTypes hasClose=True %}
                {% endif %}

            </div>
            <div class="col-12 mt-3 d-flex justify-content-center align-items-center gap-2">
                {% if filters.keywords or filters.country or filters.orgTypes %}
                    <div>

                        <a class="text-red-700 text-sm" href="/projects">
                            Cancella tutti i filtri
                        </a>
                    </div>
                    <div class="text-card-border">
                        |
                    </div>
                {% endif %}
                <div>
                    <button class="text-sm p-0 " style="background-color:transparent;border: none;" type="submit">
                        Applica i filtri
                    </button>
                </div>
            </div>

        </div>
        <div class=" mt-4 pt-4 border-top d-flex justify-content-between align-items-center">
            <div>
                <div class="small">
                    <span class"subnavbarCounter-text">
                    {% if filters.keywords != "" or filters.country != "" or filters.orgTypes != "" %}
                        <strong>{{ counter }}</strong> organizzazion selezionate su <strong>{{ totalCount }}</strong>
                        totali
                    {% else %}
                        <strong>{{ totalCount }}</strong> organizzazioni
                    {% endif %}
                    {#                        {% if counter != 1 %}#}
                    {#                            {% trans "projects found for " %} "{{ filters.keywords }}" of {{ totalProjects }}#}
                    {#                        {% else %}#}
                    {#                            {% trans "project found for " %} "{{ filters.keywords }}" of {{ totalProjects }}#}
                    {#                        {% endif %}#}
                    </strong>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-end gap-2">

                <div>Ordina per:</div>
                <div>

                    <select id="orderby" name="orderby" class="custom-select status-select form-select">
                        <option value="" {% if filters.orderby == "" %} selected {% endif %}>
                            {% trans "Most Recent Updated" %}
                        </option>
                        {#                    <option value="totalAccesses" {% if filters.orderby == "totalAccesses" %} selected {% endif %}>#}
                        {#                        {% trans "Total Accesses" %}#}
                        {#                    </option>#}
                        {#                    <option value="totalLikes" {% if filters.orderby == "totalLikes" %} selected {% endif %}>#}
                        {#                        {% trans "Total Likes" %}#}
                        {#                    </option>#}
                        <option value="name" {% if filters.orderby == "name" %} selected {% endif %}>
                            {% trans "A-Z" %}
                        </option>
                        {#                    <option value="created" {% if filters.orderby == "created" %} selected {% endif %}>#}
                        {#                        {% trans "Most Recent Created" %}#}
                        {#                    </option>#}
                        {#                    <option value="featured" {% if filters.orderby == "featured" %} selected {% endif %}>#}
                        {#                        {% trans "Featured" %}#}
                        {#                    </option>#}
                    </select>
                </div>
            </div>

        </div>
    </form>
</div>
{% if counter <= 0 or totalCount <= 0 %}
    <div class="row">

        <div class="col-6 offset-6 col-xl-4 offset-xl-4 d-flex flex-column justify-content-center align-content-center mt-5 gap-3">
            <div class="d-flex justify-content-center">

                <img class="" src="{% static 'img/empty-img-simple.png' %}" alt="Nessun risultato">
            </div>
            <div class="d-flex justify-content-center">

                <p class="text-center">
                    Nessun risultato trovato. Prova a cambiare i criteri di ricerca o cerca nelle altre categorie di
                    contenuti.
                </p>
            </div>
        </div>
    </div>
{% endif %}
<script>


</script>

