{% load my_tags %}
{% if organisations.has_other_pages %}
    <ul class="pagination pb-6">

        {% if organisations.number|add:'-3' > 1 %}
            <li class="page-item">
                <a class="page-link" href="?{% param_replace page=1 %}">1</a>
            </li>
        {% endif %}

        {% if organisations.number|add:'-3' > 1 and organisations.number|add:'-4' > 1 %}
            <li class="page-item">
                <a class="page-link" href="?{% param_replace page=organisations.number|add:'-4' %}">...</a>
            </li>
        {% endif %}

        {% for i in organisations.paginator.page_range %}
            {% if organisations.number == i %}

                <li class="page-item active">
                    <a class="page-link" href="#">{{ i }}</a>
                </li>
            {% elif i > organisations.number|add:'-4' and i < organisations.number|add:'4' %}
                <li class="page-item">
                    <a class="page-link" href="?{% param_replace page=i %}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if organisations.paginator.num_pages > organisations.number|add:'3' and organisations.paginator.num_pages > organisations.number|add:'4' %}
            <li class="page-item">
                <a class="page-link" href="?{% param_replace page=organisations.number|add:'4' %}">...</a>
            </li>
        {% endif %}

        {% if organisations.paginator.num_pages > organisations.number|add:'3' %}
            <li class="page-item">
                <a class="page-link" href="?{% param_replace page=organisations.paginator.num_pages %}">
                    {{ organisations.paginator.num_pages }}
                </a>
            </li>
        {% endif %}

    </ul>
{% endif %}
