{% extends "base_r2.html" %}
{% block title %}{{ block.super }}SignUp{% endblock %}
{% block navbar-left %}
{% include "_navbar.html"  %}
{% endblock %}

{% block splash %}
<div class="jumbotron jumbotron-fluid jumbotron-projects">
  <div class="container">
    <h1 class="display-5 pb-0"><br></h1>
    <p class="lead text-light"></p>
  </div>
</div>
{% endblock splash %}


{% block list_of_items %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Ci siamo quasi!</h3><br/><br/>
      <p>Ti abbiamo inviato una e-mail per confermare la tua registrazione. Ti preghiamo di controllare la tua casella di posta.</p>
    </div>
  </div>
</div>
{% endblock %}
