{% load i18n %}


{% block html_body  %}

<body style="background-color: #d3d3d3">
    <style>
        @import url('https://fonts.googleapis.com/css/css?family=Roboto');
    </style>
    <br><br>
    <center>
        <div style="background-color: #fff; width: 70%; border-radius: 6px; margin-top: 50px; font-family: roboto; padding-left: 24px; padding-right: 24px;">
            <br><br>
            <!-- Cabecera con logo -->
            <img style="display: block; margin-left: auto; margin-right: auto;" src="{{ domain }}/static/img/ita-citizen-science-2025.png" alt="CitizenScience.it" width="140" />
            
            <!-- MESSAGE BODY -->

            <p style="font-size: 22px; margin-top: 24px;">{% trans "Gentile staff," %} </p>
            <p style="font-size: 14px;">{% trans "nella piattaforma è stata aggiunta una nuova risorsa che attende di essere moderata. "%}<br/>
                {% trans "La risorsa si chiama " %}
                <a href='{{domain}}/resource/{{resourceid}}'><b>{{resourcename}}</b></a> {% trans " e cliccando sul nome la puoi approvare per renderla visibile a tutti gli utenti della piattaforma oppure la puoi rifiutare chiedendo modifiche o informazioni al creatore della risorsa." %}
            </p>
            
            <!-- END OF THE MESSAGE BODY -->
            <br>
            <p style="font-size: 12px;"><b><em>{% trans "Il Team di Citizen Science.it" %}</em></b></p>
            <hr style="color: lightBlue; width: 80%;">
            <p style="font-size: 20px; color: rgb(37, 116, 142); padding-bottom: 50px;">{% trans "Grazie!" %}</p>
            
        </div>
            <br><br>
        
            <div style="margin-top: 40px;">
                <p style="font-size: 11px;">{% trans "Questo è un messaggio automatico generato dalla piattaforma Citizen Science.it. Ti preghiamo di non rispondere a questa email." %}</p>
            </div>
       
    </center>
    <br>
</body>

{% endblock html_body %}
