// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$font-family-sans-serif:      "Open sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);

$display-font-weight: 300;

$olive-green: #90B124 !default;
$plum: #33336A !default;

$olive-green-100: #F0F6E0;
$olive-green-200: #D2DFA7;
$olive-green-300: #BCD07B;
$olive-green-400: #A6C04F;
$olive-green-500: $olive-green !default;
$olive-green-600: #738D1C;
$olive-green-700: #4F6212;
$olive-green-800: #39460E;
$olive-green-900: #1C2307;

$plum-100: #F7F7FD;
$plum-200: #EDEDF8;
$plum-300: #DDDDF2;
$plum-400: #BABAE9;
$plum-500: #A0A0E0;
$plum-600: #7A7ACA;
$plum-700: #4B4B97;
$plum-800: $plum !default;
$plum-900: #13133F;

$primary: $olive-green;
$secondary: $plum;

$link-color: $olive-green-800;
$link-hover-color: $olive-green-800;
$link-decoration: none;
//$body-bg: #fff;
//$nav-link-color: #cc0000;
$navbar-light-color: $olive-green-800;
//$navbar-light-active-color: #880000;
//$navbar-light-hover-color: #fdbbbb;


// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

$colors: (
        "blue": $blue,
        "indigo": $indigo,
        "purple": $purple,
        "pink": $pink,
        "red": $red,
        "orange": $orange,
        "yellow": $yellow,
        "green": $green,
        "teal": $teal,
        "cyan": $cyan,
        "black": $black,
        "white": $white,
        "gray": $gray-600,
        "gray-dark": $gray-800,
        "olive-green": $olive-green,
        "plum": $plum,
) !default;

$btn-font-weight: $font-weight-bold;
$btn-border-radius: 12px;

$box-shadow:                  0 .5rem 1rem rgba($black, .15);
$box-shadow-sm:               0 .125rem .25rem rgba($black, .075);
$box-shadow-lg:               0 1rem 3rem rgba($black, .175);
$box-shadow-inset:            inset 0 1px 2px rgba($black, .075);

$body-color: $gray-900;

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";

@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/placeholders";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/transitions";


// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here
//.navbar-nav li:not(:first-child) .nav-link::before {
//    content: "|";
//    margin-left: 0;
//    margin-right: 6px;
//    margin-left: 0;
//    color: var(--bs-secondary);
//    //font-size: 20px;
//
//}

.navbar-nav li .nav-link {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 16px !important;
  padding-left: 16px !important;

}

.navbar-nav li:not(:last-child) {
  border-right: 1px solid var(--bs-border-color-translucent);

}

.navbar-nav li {
  //border: 1px solid black;
  margin-right: 0 !important;
  margin-left: 0;


}

.bg-plum-200 {
  background-color: $plum-200;
}