{% load i18n %}
{% load static %}


{% block html_body  %}
<body style="background-color: #d3d3d3">
    <style>
        @import url('https://fonts.googleapis.com/css/css?family=Roboto');
    </style>
    <br><br>
    <center>
        <div style="background-color: #fff; width: 70%; border-radius: 6px; margin-top: 50px; font-family: roboto; padding-left: 24px; padding-right: 24px;">
            <br><br>
            <!-- Cabecera con logo -->
            <img style="display: block; margin-left: auto; margin-right: auto;" src="{{ domain }}/static/img/ita-citizen-science-2025.png" alt="CitizenScience.it" width="140" />
            
            <!-- MESSAGE BODY -->

        
            <p style="font-size: 14px;">{% trans "Siamo lieti di informarti che il tuo contenuto "%}<a href='{{domain}}/project/{{id}}'>{{name}}</a> {% trans " è stato moderato e approvato. Ora è visibile nei risultati pubblici di ricerca della piattaforma ed è contrassegnato come moderato."%}</p>

            <p style="font-size: 14px;">{% trans "Puoi aggiornare o modificare in qualsiasi momento il contenuto di questa risorsa, accedendo alla sezione "%}<a href='{{ domain }}/users/me/submissions'> {% trans "<strong>I miei contributi</strong> della tua Area Personale" %}</a> {% trans " (in alto a destra nel menu della piattaforma, una volta loggato/a)."%}</p>
            
            
            
            <!-- END OF THE MESSAGE BODY -->
            <br>
            <p style="font-size: 12px;"><b><em>{% trans "Il Team di Citizen Science.it" %}</b></em></p>
            <hr style="color: lightBlue; width: 80%;">
            <p style="font-size: 20px; color: rgb(37, 116, 142); padding-bottom: 50px;">{% trans "Grazie!" %}</p>
            
        </div>
            <br><br>
        
            <div style="margin-top: 40px;">
                <p style="font-size: 11px;">{% trans "Questo è un messaggio automatico generato dalla piattaforma Citizen Science.it. Ti preghiamo di non rispondere a questa email." %}</p>
            </div>
       
    </center>
    <br>
</body>
{% endblock html_body %}
