{% load i18n %}


{% block html_body  %}

<body style="background-color: #d3d3d3">
    <style>
        @import url('https://fonts.googleapis.com/css/css?family=Roboto');
    </style>
    <br><br>
    <center>
        <div style="background-color: #fff; width: 70%; border-radius: 6px; margin-top: 50px; font-family: roboto; padding-left: 24px; padding-right: 24px;">
            <br><br>
            <!-- Cabecera con logo -->
            <img style="display: block; margin-left: auto; margin-right: auto;" src="{{ domain }}/static/img/ita-citizen-science-2025.png" alt="CitizenScience.it" width="140" />
            
            <!-- MESSAGE BODY -->

            <p style="font-size: 22px; margin-top: 24px;">{% trans "Ciao," %} <a style='color: lightBlue;'>{{username}}</a> </p>
            <p style="font-size: 14px;">{% trans "Grazie per averci inviato il progetto/attività "%}<a href='{{domain}}/project/{{projectid}}'><b>{{projectname}}</b></a>.
            
            {% trans "Il tuo progetto/attività è stato inviato al team di moderazione di CitizenScience.it, che lo controlleranno per assicurarsi che tutti i progetti condivisi sulla piattaforma possano indubbiamente considerarsi progetti di Citizen Science."%}</p>
            
            <p style="font-size: 14px;">{% trans "Ti contatteremo se avessimo qualche domanda da farti, e altrimenti riceverai un avviso che il tuo progetto/attività è stato moderato e pubblicato sulla piattaforma."%} </p>
            <p style="font-size: 14px;">{% trans "Puoi fare modifiche e/o cambiamenti al tuo progetto/attività in qualsiasi momento dalla seguente pagina: "%}<a href='{{domain}}/users/me/submissions'>{% trans "Area personale: I tuoi progetti/attività"%}</a>.</p>

            <!-- END OF THE MESSAGE BODY -->
            <br>
            <p style="font-size: 12px;"><b><em>{% trans "Il Team di Citizen Science.it" %}</b></em></p>
            <hr style="color: lightBlue; width: 80%;">
            <p style="font-size: 20px; color: rgb(37, 116, 142); padding-bottom: 50px;">{% trans "Grazie!" %}</p>
            
        </div>
            <br><br>
        
            <div style="margin-top: 40px;">
                <p style="font-size: 11px;">{% trans "Questo è un messaggio automatico generato dalla piattaforma Citizen Science.it. Ti preghiamo di non rispondere a questa email." %}</p>
            </div>
       
    </center>
    <br>
</body>

{% endblock html_body %}
