{% load i18n %}
{% load static %}

<!--Footer-->
<footer class="mt-auto bg-white border-top">
    <div class="container-fluid d-flex flex-wrap justify-content-center align-items-center bg-white gap-1 py-3 border-bottom">
        <div class="my-4 pe-5 border-end">
            <img src="{% static 'img/logo_fin_ngeneu.png' %}"
                 alt="Logo 'Finanziato da NextGen EU'"
            >
        </div>
        <div class="my-4 px-5  border-end">
            <img src="{% static 'img/logo_miur.png' %}"
                 alt="Logo MIUR"
            >
        </div>
        <div class="my-4 px-5  border-end">
            <img src="{% static 'img/logo_italia_domani.png' %}"
                 alt="Logo Italia Domani Piano Nazionale di Ripresa e Resilienza"
            >
        </div>


        <div class="my-4 ps-5">
            <img src="{% static 'img/logo_citizen.png' %}"
                 alt="Logo Citizen Science Italia"
            >
        </div>


        <!-- Grid row-->
    </div>
    <div class="container mt-3 mb-4">
        <div class="row">

            <div class="col col-6 d-flex flex-column justify-content-start gap-3">
                <div class="h6">Associazione Citizen Science Italia ETS</div>
                <div>Via dell'Unione 40 - 58100 Grosseto (GR)</div>
                <div>
                    <a href="mailto:info@citizenscience.it">
                        <svg class="bi mb-1" width="14" height="14" fill="currentColor">
                            <use xlink:href="{% static 'img/svg/bootstrap-icons.svg' %}#envelope-fill"/>
                        </svg>
                        info@citizenscience.it
                    </a>
                </div>
                <div class="d-flex justify-content-start gap-3">
                    <div>
                        <a href="#">
                            <svg class="bi mb-1" width="20" height="20" fill="currentColor">
                                <use xlink:href="{% static 'img/svg/bootstrap-icons.svg' %}#facebook"/>
                            </svg>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <svg class="bi mb-1" width="20" height="20" fill="currentColor">
                                <use xlink:href="{% static 'img/svg/bootstrap-icons.svg' %}#linkedin"/>
                            </svg>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <svg class="bi mb-1" width="20" height="20" fill="currentColor">
                                <use xlink:href="{% static 'img/svg/bootstrap-icons.svg' %}#instagram"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col col-3 d-flex flex-column justify-content-start">
                <ul class="list-unstyled">
                    {% for item in topbar_items %}
                        {% if not item.parent and not item.is_parent %}
                            <li class="mb-2">
                                <a class=""
                                   href="{{ item.slug }}">
                                    {{ item.name }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="col col-3 d-flex flex-column justify-content-start">
                <ul class="list-unstyled">
                    {% for item in topbar_items %}
                        {% if not item.parent and not item.is_parent %}
                            <li class="mb-2">
                                <a class=""
                                   href="{{ item.slug }}">
                                    {{ item.name }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Grid row-->
    </div>
    <!-- Copyright -->
</footer>
<!--/.Footer-->
