{% load static %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link href="{% static 'css/map.css' %}?v={{ STATIC_VERSION }}" rel="stylesheet"/>


<div class="d-flex flex-column flex-md-row">
    <div class="d-flex flex-column">
        <div class="d-flex flex-column flex-md-row d-md-none">
            <div class="custom-layer-control-mobile d-block d-md-none rounded-4 p-4 pb-2">
                <div class="h6">Mostra</div>
                <div class="layer-option">
                    <input type="checkbox" name="layer" id="project" disabled checked value="projects"
                           class="me-1 map-checkbox"
                    >
                    <label for="project_bio">
                        <svg class="bi mb-1" width="16" height="16" fill="currentColor">
                            <use xlink:href="{% static 'img/svg/bootstrap-icons.svg' %}#clipboard2-data-fill"/>
                        </svg>
                        Biodiv. sampling week

                    </label>
                </div>

                <hr/>
                <div class="h6 mt-2">Legenda</div>
                <div class="layer-option">
                    <svg class="bi mb-1" width="14" height="14" fill="#FFDA6A">
                        <use xlink:href="{% static 'img/svg/bootstrap-icons.svg' %}#circle-fill"/>
                    </svg>
                    &le; 9 elementi
                </div>
                <div class="layer-option">
                    <svg class="bi mb-1" width="14" height="14" fill="#984C0C">
                        <use xlink:href="{% static 'img/svg/bootstrap-icons.svg' %}#circle-fill"/>
                    </svg>
                    &ge; 10 elementi
                </div>
            </div>
        </div>
        <div class="custom-layer-control-desktop d-none d-md-block rounded-4 p-2">
            <div class="h6">Mostra</div>
            <div class="layer-option">
                <input type="checkbox" name="layer" id="project" disabled checked value="projects"
                       class="me-1 map-checkbox"
                >
                <label for="project_bio">
                    <svg class="bi mb-1" width="16" height="16" fill="currentColor">
                        <use xlink:href="{% static 'img/svg/bootstrap-icons.svg' %}#clipboard2-data-fill"/>
                    </svg>
                    Biodiv. sampling week

                </label>
            </div>

            <hr/>
            <div class="h6 mt-2">Legenda</div>
            <div class="layer-option">
                <svg class="bi mb-1" width="14" height="14" fill="#FFDA6A">
                    <use xlink:href="{% static 'img/svg/bootstrap-icons.svg' %}#circle-fill"/>
                </svg>
                &le; 9 elementi
            </div>
            <div class="layer-option">
                <svg class="bi mb-1" width="14" height="14" fill="#984C0C">
                    <use xlink:href="{% static 'img/svg/bootstrap-icons.svg' %}#circle-fill"/>
                </svg>
                &ge; 10 elementi
            </div>
        </div>
        <div class="custom-display-project d-none d-md-block">


        </div>

    </div>
    <div id="map"></div>
    <div class="d-flex flex-column justify-content-center custom-display-project custom-display-project-mobile d-md-none">


    </div>

</div>


<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
<link rel="stylesheet" href="//unpkg.com/leaflet-gesture-handling/dist/leaflet-gesture-handling.min.css"
      type="text/css">
<script src="//unpkg.com/leaflet-gesture-handling"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {

        var markersData = {}
        var markersDataObjects = {}


        var map = L.map('map', {center: [42, 13], zoom: 6});
        /*
                    var OpenStreetMap_BZH = L.tileLayer('https://tile.openstreetmap.bzh/br/{z}/{x}/{y}.png', {
                        maxZoom: 19,
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Tiles courtesy of <a href="http://www.openstreetmap.bzh/" target="_blank">Breton OpenStreetMap Team</a>',
                        //bounds: [[46.2, -5.5], [50, 0.7]]
                    });
        */
        /*
                    var Thunderforest_Neighbourhood = L.tileLayer('https://{s}.tile.thunderforest.com/neighbourhood/{z}/{x}/{y}{r}.png?apikey={apikey}', {
                            attribution: '&copy; <a href="http://www.thunderforest.com/">Thunderforest</a>, &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                            apikey: 'pk.eyJ1IjoiZ2VybWFuZ2lsIiwiYSI6ImNsbXQxbDBoNTAwbjkybGxvcngxNDBhYzgifQ.kcRn3hE1wUpA1KpdxiG23g',
                            maxZoom: 22
                        });
        */
        /*
                    L.tileLayer(
                        'https://api.mapbox.com/styles/v1/germangil/clt76zpgl008401qn2izgbfxp/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiZ2VybWFuZ2lsIiwiYSI6ImNsbXQxbDBoNTAwbjkybGxvcngxNDBhYzgifQ.kcRn3hE1wUpA1KpdxiG23g',








        {#        #}

                //'https://api.mapbox.com/styles/v1/germangil/clt76zpgl008401qn2izgbfxp/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiZ2VybWFuZ2lsIiwiYSI6ImNsbXQxbDBoNTAwbjkybGxvcngxNDBhYzgifQ.kcRn3hE1wUpA1KpdxiG23g',
                {
                tileSize: 512,
                zoomOffset: -1,
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors &copy; <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
            }).addTo(map);
*/

        //L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        //    maxZoom: 19,
        //    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        //}).addTo(map);

        L.tileLayer('https://api.webmapp.it/tiles/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://api.webmapp.it/copyright">Webmapp</a>'
        }).addTo(map);
        //L.tileLayer(Thunderforest_Neighbourhood).addTo(map);
        //L.tileLayer(OpenStreetMap_BZH).addTo(map);
        L.control.scale().addTo(map);

        var projectBioIcon = createIcon(L,'bg-olive-800','#ACE8C07F','clipboard2-data-fill')


        var projects = L.markerClusterGroup({
            spiderfyOnMaxZoom: true,
            showCoverageOnHover: false,
            zoomToBoundsOnClick: true,
            /*
            iconCreateFunction: function(cluster) {
                var childCount = cluster.getChildCount();
                 var c = ' marker-cluster-';
                 if (childCount < 10) {
                   c += 'small';
                 }
                 else {
                   c += 'medium';
                 }

                return L.divIcon({ className: "marker-cluster "+c});
            }
            */
        });

        var projects_bio = L.markerClusterGroup({
            spiderfyOnMaxZoom: true,
            showCoverageOnHover: false,
            zoomToBoundsOnClick: true,
            /*
            iconCreateFunction: function(cluster) {
                var childCount = cluster.getChildCount();
                 var c = ' marker-cluster-';
                 if (childCount < 10) {
                   c += 'small';
                 }
                 else {
                   c += 'medium';
                 }

                return L.divIcon({ className: "marker-cluster "+c});
            }
            */
        });
        // Perform AJAX request to get the
        var xhr1 = new XMLHttpRequest();
        xhr1.open('GET', '/get_projects/', true);
        xhr1.onreadystatechange = function () {
            if (xhr1.readyState === 4 && xhr1.status === 200) {
                // Create markers on the map based on the data received

                markersData = JSON.parse(xhr1.responseText).markers_bio;
                console.debug('markers', markersData);
                addMarkers(markersData, markersDataObjects, projects_bio, projectBioIcon, map);


            }
        };

        // Perform AJAX request to get the organisations

        // Perform AJAX request to get the platforms

        xhr1.send();

        projects_bio.addTo(map)

        var layers = {
            projects_bio: projects_bio
        }
        /*
        var baseLayers = {
            "<i class='bi bi-bank2'></i> Project": projects,
            "<i class='bi bi-clipboard2-data-fill'></i> Organisation": organisations,
        };
        L.control.layers(null, baseLayers, { collapsed: false,position: 'topleft' }).addTo(map);
         */

        document.querySelectorAll('input[name="layer"]').forEach(function (input) {
            input.addEventListener('change', function () {
                console.debug(this.value, this.checked);
                if (this.checked) {
                    map.addLayer(layers[this.value])
                } else {
                    map.removeLayer(layers[this.value]);
                }
                /*
                if (this.id === 'osm') {
                    map.removeLayer(satelliteLayer);
                    map.addLayer(osmLayer);
                } else if (this.id === 'satellite') {
                    map.removeLayer(osmLayer);
                    map.addLayer(satelliteLayer);
                }*/
            });
        });
    });
</script>
{%  include '_map_js.html' %}
