{% load i18n %}
{% load static %}
<div class="modal fade" id="modalsubmit">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">
                    Cosa vuoi contribuire?
                </h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="mt-4">
                    <h5><a href="/newProject" class="my-link">
                        <svg class="bi mb-1" width="24" height="24" fill="currentColor">
                            <use xlink:href="{% static 'img/svg/bootstrap-icons.svg' %}#clipboard-data"/>
                        </svg>
                        {% trans "Project" %}</a></h5>
                    Crea la scheda di un progetto di Citizen Science<br/>
                    <hr>
                </div>
                <div class="mt-4">
                    <h5><a href="/new_organisation" class="my-link">
                        <svg class="bi mb-1" width="24" height="24" fill="currentColor">
                            <use xlink:href="{% static 'img/svg/bootstrap-icons.svg' %}#buildings"/>
                        </svg>
                        {% trans "Organisation" %}</a></h5>
                    Crea il profilo di una organizzazione<br/>
                    <hr>
                </div>
                {% if user.is_staff %}
                    <div class="mt-4 mb-4">
                        <h5><a href="/new_event" class="my-link">
                            <svg class="bi mb-1" width="24" height="24" fill="currentColor">
                                <use xlink:href="{% static 'img/svg/bootstrap-icons.svg' %}#megaphone"/>
                            </svg>
                            Evento</a></h5>
                        Crea un Evento<br/>
                    </div>
                {% endif %}
                {#                <div class="mt-4 mb-4">#}
                {#                    <h5><a href="/new_blog" class="my-link">#}
                {#                        <svg class="bi mb-1" width="24" height="24" fill="currentColor">#}
                {#                            <use xlink:href="{% static 'img/svg/bootstrap-icons.svg' %}#megaphone"/>#}
                {#                        </svg>#}
                {#                        Notizia</a></h5>#}
                {#                    Crea un articolo per la sezione Notizie<br/>#}
                {#                </div>#}
            </div>
        </div>
    </div>
</div>
