{% load i18n %}
<button class="btn btn-outline-success submit">
    <i class="fas fa-share-square"></i> {% trans "Save" %}
</button>
<button class="btn btn-outline-success submit continue">
    <i class="fas fa-save"></i> {% trans "Save & continue editing" %}
</button>
{% if showDelete and user.id == project.creator_id %}
    <a  class="btn btn-outline-danger" onclick="deleteProject({{ project.id }})">
        <i class="fas fa-times"></i> {% trans "Cancella" %}
    </a>
    <script>
        function deleteProject(projectId) {
            let risposta = window.confirm('{% trans "Are you sure you want to delete this project?" %}');
            if (risposta) {
                window.location.href = '/deleteProject/{{ project.id }}';
            }
        }
    </script>
{% endif %}
<span class="savedInfo">
</span>
