{% load i18n %}
{% load active_link_tags %}
{% load static %}

<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-light pb-0 pl-0 border-top-0 border-end-0 border-start-0 border-0 subnavbar">
            <ul class="nav nav-tabs w-100 d-flex justify-content-center border-bottom-0">
                <li class="nav-item text-start subnavbar-item">
                    <a class="nav-link ps-4  {% active_link 'projects' %} nav-tab-search"
                       href="
                               {% url 'projects' %}{% if request.GET.keywords %}?keywords={{ request.GET.keywords }}{% endif %}">
                        <svg class="bi mb-1" width="18" height="18" fill="currentColor">
                            <use xlink:href="{% static 'img/svg/bootstrap-icons.svg' %}#clipboard2-data-fill"/>
                        </svg>
                         {% trans "Projects" %} ({{ projectsCounter }})
                    </a>
                </li>
                <li class="nav-item text-start subnavbar-item">
                    <a class="nav-link ps-4  {% active_link 'attivita' %} nav-tab-search"
                       href="
                               {% url 'attivita' %}{% if request.GET.keywords %}?keywords={{ request.GET.keywords }}{% endif %}">
                        <svg class="bi mb-1" width="18" height="18" fill="currentColor">
                            <use xlink:href="{% static 'img/svg/bootstrap-icons.svg' %}#clipboard2-data-fill"/>
                        </svg>
                         {% trans "Attività" %} ({{ attivitaCounter }})
                    </a>
                </li>
                <li class="nav-item subnavbar-item">
                    <a class="nav-link ps-4  {% active_link 'organisations' %} nav-tab-search"
                       href="
                               {% url 'organisations' %}{% if request.GET.keywords %}?keywords={{ request.GET.keywords }}{% endif %}">
                        <svg class="bi mb-1" width="18" height="18" fill="currentColor">
                            <use xlink:href="{% static 'img/svg/bootstrap-icons.svg' %}#bank2"/>
                        </svg>
                        {% trans "Organisations" %} ({{ organisationsCounter }})
                    </a>
                </li>
                <li class="nav-item subnavbar-item">
                    <a class="nav-link ps-4  {% active_link 'profiles:users' %} nav-tab-search"
                       href="/users/{% if request.GET.keywords %}?keywords={{ request.GET.keywords }}{% endif %}">
                        <svg class="bi mb-1" width="18" height="18" fill="currentColor">
                            <use xlink:href="{% static 'img/svg/bootstrap-icons.svg' %}#people-fill"/>
                        </svg>
                         {% trans "Users" %} ({{ usersCounter }})
                    </a>
                </li>
                <li class="nav-item subnavbar-item">
                    <a class="nav-link ps-4  {% active_link 'resources' %} nav-tab-search"
                       href="/resources/{% if request.GET.keywords %}?keywords={{ request.GET.keywords }}{% endif %}">
                        <svg class="bi mb-1" width="18" height="18" fill="currentColor">
                            <use xlink:href="{% static 'img/svg/bootstrap-icons.svg' %}#people-fill"/>
                        </svg>
                         {% trans "Resources" %} ({{ resourcesCounter }})
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>
