{% load static %}
{% load i18n %}

<section class="bg-plum-200">


    <div class="container m-auto">

        <div class="d-flex gap-5 align-items-center justify-content-center w-75 m-auto">
            <img class="img-fluid mt-auto" src="{% static 'img/home-what-is-cs.png' %}" alt="Citizen Science">
            <div class="d-flex flex-column gap-3">
                <div class="h3">
                    Che cos'è la Citizen Science?
                </div>

                <div>
                    <p>
                        La citizen science, o scienza partecipativa, è il coinvolgimento attivo
                        dei cittadini nella raccolta, analisi e interpretazione di dati a fini scientifici.
                        Ponendosi all’interfaccia tra scienza e società, la Citizen Science racchiude in sé
                        la complessità di entrambe, acquisendo forme anche molto diverse.
                        Una delle definizioni più comuni la descrive come: “il coinvolgimento di volontari
                        e scienziati in attività di ricerca collaborativa, per generare nuova conoscenza
                        basata su evidenze scientifiche”.
                    </p>
                </div>

                <div class="d-flex justify-content-start gap-3">
                    <a class="btn btn-outline-secondary">Scopri di più</a>
                    {% if not user.is_authenticated %}
                    <a class="btn btn-primary">Registrati ora</a>
                    {%  endif %}
                </div>
            </div>
        </div>

    </div>
</section>

</div>
